@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Variables

$white: #ffffff;
$main-color: #328dff;
$warning: #f0435f;
$success: #21ce32;

// Instead of reset.css

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

ul {
    list-style-type: none;
}

// General classes

.main-color {
    color: $main-color;
}

.application-layout {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 100vh));
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.transactions-container {
    @media (max-width: 500px) {
        width: 100%;
    }
}

.button {
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
}

.button:disabled {
    opacity: 0.7;
}

.icon {
    font-size: 0.75rem;
    border: 1px solid rgba(209, 209, 209, 0.5);
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $white;
}

.icon:before {
    content: 'X';
    opacity: 0.3;
}

.button:hover,
.icon:hover {
    cursor: pointer;
}

.button:focus,
.icon:focus {
    outline: none;
}

.button--round {
    border-radius: 1rem;
}

.button--blue {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: $white;
}

.button--pure-white {
    background-color: $white;
    border: 1px solid $white;
    color: $main-color;
}

.button--white {
    background-color: $white;
    border: 1px solid $main-color;
    color: $main-color;
}

.button-to-text {
    border: none;
    font-size: 1rem;
    background: none;
}

.button-big-text {
    font-size: 1rem;
}

.text-xs {
    font-size: 0.5rem;
}

.text-sm {
    font-size: 0.75rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.875rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-muted {
    opacity: 0.4;
}

.padding-vertical-lg {
    padding: 1.5rem 0;
}

.padding-vertical-md {
    padding: 1rem 0;
}

.padding-vertical-xs {
    padding: 0.25rem 0;
}

.padding-vertical-sm {
    padding: 0.5rem 0;
}

.padding-horizontal-xs {
    padding: 0 0.25rem;
}

.margin-vertical-sm {
    margin: 0.5rem 0;
}

.margin-vertical-md {
    margin: 1rem 0;
}

.text-align-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-parent-height {
    height: 100%;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $white;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader__image {
    margin: 5rem;
    width: 10rem;
    height: 10rem;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.warning {
    color: $warning;
}

.success {
    color: $success;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.no-outline-on-focus:focus {
    outline: none;
}

.underlined-text {
    text-decoration: underline;
}

.button-no-style {
    border: none;
    background: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// ExpenseTracker Component

.upper-menu {
    position: relative;
}

.upper-menu__button {
    background: none;
    border: none;
    position: absolute;
    top: 1.5rem;
    width: 1.125rem;
    height: 1.125rem;
    background-size: 1.125rem 1.125rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.upper-menu__button:focus {
    outline: none;
}

.upper-menu__button:hover {
    cursor: pointer;
}

.upper-menu__settings-trigger {
    left: 0.5rem;
    background-image: url('../img/settings.svg');
}

.upper-menu__filter-trigger {
    right: 0.5rem;
    background-image: url('../img/filter.svg');
}

.upper-menu__sign-out {
    left: 0.75rem;
    top: 0.6rem;
    background-image: url('../img/signout.svg');
}

.bottom-bar {
    position: relative;
}

.reset-filters-button {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
}

// Balance Component

.balance {
    background-color: $main-color;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.balance__content {
    text-align: center;
    color: $white;
}

.balance__amount {
    padding-top: 0.25rem;
}

.balance__amount:hover {
    cursor: pointer;
}

.balance__breakdown {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    margin: 0 auto;
}

.balance__type {
    padding: 0.5rem 0;
    width: 50%;
}

.balance__vertical-line {
    border-left: 1px solid #2a7de0;
}

// ActionBar Component

.action-bar {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $white;
}

.action-bar__content {
    display: flex;
    justify-content: center;
}

.input-field {
    border: 1px solid #bfc5ce;
    border-radius: 1rem;
    font-size: 16px;
    /* to avoid auto zoom on iOS */
    padding: 0.375rem 0.75rem;
    margin-right: 0.5rem;
    width: 70%;
}

.input-field:focus {
    outline: none;
}

.action-bar__button {
    width: 30%;
}

// Transactions Component

.transactions {
    position: relative;
    flex-grow: 2;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.transactions::-webkit-scrollbar {
    display: none;
}

.transactions__no-transactions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.transactions__no-transactions-image {
    width: 100%;
    max-width: 8.5rem;
}

.transactions__no-transactions-text {
    color: #b3b3b3;
    margin-top: 1rem;
}

.transaction {
    list-style: none;
    border-bottom: 1px solid rgba(209, 209, 209, 0.4);
    padding: 0.5rem 0.75rem;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction__header {
    display: flex;
    justify-content: space-between;
}

.transaction__date {
    opacity: 0.3;
}

.show-transactions {
    padding-top: 1rem;
    text-align: center;
}

// Filters Component

.filters__category-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(209, 209, 209, 0.7);
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.filters__category-group:last-child {
    border-bottom: none;
}

.filters__category {
    flex-grow: 2;
    flex-basis: 45%;
    flex-shrink: 2;
    margin: 0.2rem;
    font-size: 0.825rem;
}

.apply-button {
    width: 100%;
}

// Modal Component

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 15px;
}

.modal__title {
    color: $white;
    background-color: $main-color;
    font-weight: 400;
    border-radius: 15px 15px 0 0;
}

.modal__content {
    padding: 1rem;
}

.close-button {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border: none;
    z-index: 50;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.flex-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-list__item {
    margin-bottom: 0.75rem;
}

.flex-list__item--lg {
    width: 200px;
}

.flex-list__item:last-child {
    margin-bottom: 0;
}

// Login

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $main-color;
}

.login-container__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30rem;
    width: 100%;
    max-width: 20rem;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 2rem;
    background-color: $white;
}

.login-container__form-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container__heading {
    font-size: 3.25rem;
    color: $main-color;
}

.login-container__subheading {
    font-weight: normal;
}

.login-container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container__form-item {
    border: 1px solid #bfc5ce;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    font-size: 1rem;
}

.login-container__form-item:focus {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
    outline: none;
    -webkit-appearance: none;
}

.login-container__submit {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    font-weight: 700;
}

.login-container__submit:focus,
.login-container__submit:active {
    -webkit-appearance: none;
    border: none;
    box-shadow: 0px 0px 14px 4px $main-color;
}

.login-container__submit:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
}

.login-container__error {
    font-weight: 700;
    min-height: 3rem;
}

// Side menu
.menu {
    display: flex;
    position: fixed;
    width: 25%;
    inset: 0;
    background-color: $white;
    z-index: 15;
    transition: 0.3s;
    transform: translateX(-100%);
    border-right: 5px solid $main-color;

    @media (max-width: 1200px) {
        width: 35%;
    }

    @media (max-width: 900px) {
        width: 45%;
    }

    @media (max-width: 600px) {
        width: 100%;
        border-right: none;
    }
}

.menu--shown {
    transform: translateX(0);
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 0.75rem 1rem;
}

.menu-item:not(:last-child) {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(209, 209, 209, 0.6);
}

.menu-subsection {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button-menu {
    top: 0.5rem;
    right: 0.5rem;
    font-size: 0.75rem;
}

.menu-label {
    font-size: 0.875rem;
}

.user-settings-section {
    transition: height 0.15s ease;
    height: 0;
    overflow: hidden;
}

.section-shown {
    height: 100%;
}

.user-settings__label {
    color: #808080;
    margin: 0 0 0.5rem 0;
}

.user-settings__user-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-settings__user-select {
    font-weight: 600;
}

.user-settings-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-weight: 600;
    margin: 0rem 0.75rem 0.5rem;
    width: 70%;

    @media (max-width: 1200px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 50%;
    }

    @media (max-width: 500px) {
        width: 65%;
    }
}

.user-settings__user-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;

    @media (max-width: 600px) {
        gap: 0.75rem;
    }
}

.user-settings__userName-input {
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem;
    margin-right: 0;
    width: 90%;

    @media (max-width: 1200px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 85%;
    }
}

.user-settings__userName-color {
    width: 50%;
}

input[type='color'] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #cbcbcb;
    border-radius: 15px;
    cursor: pointer;
    height: 1.65rem;
    padding: 0;
    width: 1.7rem;
    vertical-align: middle;
}

input[type='color']:disabled {
    cursor: default;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch {
    border: 0;
    border-radius: 0;
}

.full-width {
    width: 100%;
}
